{% extends 'layout.html' %}

{% block title %}
    Profile - Grocer
{% endblock %}

{% block content %}
    <h1> Profile
        <small class="text-muted">(@{{user.username}})</small>
    </h1>

    <div class="login-box">
        <form method="post">
              <p class="title">Edit Profile </p>
              <div class="user-box">
                <input type="username" name="username" id="username" required >
                <label>New Username</label>
              </div>
              <div class="user-box">
                <input type="name" name="name" id="name" required >
                <label>New Name</label>
              </div>
              <div class="user-box">
                <input type="password" name="cpassword" id="cpassword" required>
                <label>Current Password</label>
              </div>
              <div class="user-box">
                <input type="password" name="password" id="password" required>
                <label>New Password</label>
              </div><center>
                <button class="submit">Update</button>
                 <span></span>
              </center>
        </form>
        </div>
    
    <a href="{{url_for('logout')}}" class="animated-button">
        <span>Log out</span>
        <span></span>
    </a>
      
{% endblock %}


{% block style %}
<style>
    .title {
  font-size: 28px;
  color: #ff435d;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 15px;
    }

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ff435d;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #ff435d;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

h1 {
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 4;
}


    .animated-button {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: #1b1717;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

    .login-box {
  position: fixed;
  bottom: 17%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  padding: 45px;
  transform: translateX(-50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 15px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #ff435d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff435d,
              0 0 25px #ff435d,
              0 0 50px #ff435d,
              0 0 100px #ff435d;
}

.submit {
  border: none;
  outline: none;
  background-color: #1b1717;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.login-box button span {
  position: absolute;
  display: block;
  z-index: 2;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(1) {
  bottom: 1px;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ff435d);
  animation: btn-anim1 2s linear infinite;
}




.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ED2B2A;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  
}

.animated-button span:first-child {
  position: relative;
  z-index: 2;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #D21312;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}




</style>
{% endblock %}

